@keyframes hide_buttons {
  0% {
    opacity: 1;
    transform: translateX(0);
    display: flex;
  }
  50% {
    opacity: 0.2;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    display: none;
  }
}
.hide_buttons {
  animation: hide_buttons 0.2s linear;
  animation-iteration-count: 1;
  display: none;
  /* animation-fill-mode: both; */
}

@keyframes show_buttons {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    display: flex;
  }
  50% {
    opacity: 0.2;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    display: flex;
  }
}
.show_buttons {
  animation: show_buttons 0.2s linear;
  animation-iteration-count: 1;
  display: flex;
  /* animation-fill-mode: both; */
}
