@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 22 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 32 100% 98%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 0 0% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 18px;
  }
}

* {
  font-family: var(--font-nunito), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}
/* * {
  border: 1px solid red;
} */
/* Для Firefox */
.scrl_glbl {
  /* scrollbar-color: hsl(var(--primary) / 0.2) transparent; */
  /* scrollbar-width: thin; */
}
@-moz-document url-prefix() {
  .scrl_glbl {
    scrollbar-color: hsl(var(--primary) / 0.2) transparent;
    scrollbar-width: thin;
  }
}
/* Для hrome */
.scrl_glbl::-webkit-scrollbar {
  width: 0.75rem !important;
  /* цвет фона полосы прокрутки */
  background-color: transparent !important;
}

.scrl_glbl::-webkit-scrollbar-thumb {
  /* цвет ползунка полосы прокрутки */
  background-color: hsl(var(--primary) / 0.2) !important;
  border-radius: 0.75rem !important;
}

.scrl_glbl::-webkit-scrollbar-thumb:hover {
  /* цвет ползунка при наведении */
  background-color: hsl(var(--primary)) !important;
}

.scrl_glbl::-webkit-scrollbar-track {
  /* цвет трека полосы прокрутки */
  background-color: transparent !important;
  border-radius: 0.75rem !important;
}

/*  */
.parentshadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  box-shadow: 0px 0px 5px 5px rgb(229 231 235 / var(--tw-bg-opacity));
  z-index: 1;
}
.parentshadow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  box-shadow: 0px 0px 5px 5px rgb(229 231 235 / var(--tw-bg-opacity));
  z-index: 1;
}

/*  */
@keyframes hide_buttons {
  0% {
    opacity: 1;
    transform: translateX(0);
    display: flex;
  }
  50% {
    opacity: 0.2;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    display: none;
  }
}
.hide_buttons {
  animation: hide_buttons 0.2s linear;
  animation-iteration-count: 1;
  display: none;
  /* animation-fill-mode: both; */
}

@keyframes show_buttons {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    display: flex;
  }
  50% {
    opacity: 0.2;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    display: flex;
  }
}
.show_buttons {
  animation: show_buttons 0.2s linear;
  animation-iteration-count: 1;
  display: flex;
  /* animation-fill-mode: both; */
}

#story-modal-absolute{
background-color: rgb(148 163 184 / 0.8);
}